p {
    font-size: 25px;
}

div {
    border:solid 1px;
}


.copy-section {
    border:solid 3px;
    text-align: center;
    width: 40%;
    margin: auto;
    padding:20px;
    border-radius: 10px;
    border-color: orange;
    background-color: yellow;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-text {
    font-size: 18px;
    font-style: italic;
}

pre {
    width: 1150px;
    border:solid;
    margin-left: 100px;
    font-size: 22px;
}

body {
    color:white;
    background-color: black;
}